.site-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 36px;
}

.site-header-logo:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.site-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}

.site-description {
    font-size: 1.1rem;
    color: #999;
}

.radius-15 {
    border-radius: 15px !important;
}

#profilna-slika {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /*border: 1px solid rgba(0,0,0,.125);*/
}

/*
 * Footer
 */
.site-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.site-footer p:last-child {
    margin-bottom: 0;
}